/* CSS file */
.mainBox {
	padding-top:10;
	padding-left:10;
	padding-right:10;
	vertical-gap:0;	
}

.title {
	font-weight: bold;
	color: #333333;
	font-size: 16;	
}

.description {
	font-weight: normal;
	color: #666666;
	font-size: 12;	
}
