<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <display-name>TGBP war</display-name>

    <context-param>
        <param-name>sca4j.compositeNamespace</param-name>
        <param-value>urn:composite:com.travelex.tgbp</param-value>
    </context-param>

    <context-param>
        <param-name>sca4j.composite</param-name>
        <param-value>webapp</param-value>
    </context-param>

    <context-param>
        <param-name>sca4j.work.scheduler.numWorkers</param-name>
        <param-value>30</param-value>
    </context-param>
    
    <context-param>
        <param-name>sca4j.work.scheduler.pauseOnStart</param-name>
        <param-value>false</param-value>
    </context-param>
    
    <!-- SCA4J initial context listener -->
    <listener>
        <listener-class>org.sca4j.runtime.webapp.SCA4JContextListener</listener-class>
    </listener>
    
    <listener>
        <listener-class>org.sca4j.runtime.webapp.SCA4JRequestListener</listener-class>
    </listener>
    
    <!-- Http Flex Session attribute and binding listener support -->
    <listener>
        <listener-class>flex.messaging.HttpFlexSession</listener-class>
    </listener>

    <servlet>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <servlet-class>flex.messaging.MessageBrokerServlet</servlet-class>
        <init-param>
            <param-name>services.configuration.file</param-name>
            <param-value>/WEB-INF/flex/services-config.xml</param-value>
       </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>SCA4JServlet</servlet-name>
        <servlet-class>org.sca4j.runtime.webapp.SCA4JServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>MessageBrokerServlet</servlet-name>
        <url-pattern>/messagebroker/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>SCA4JServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

</web-app>
